#detail h1{
	margin:0px;
	padding:0px;
}

#detail #gauche{
	float:left;
}

#detail #droit{
	float:right;
}

#detail #droit-haut{
	border:1px solid #000000;
	margin-bottom:5px;
}

#detail #droit-bas{
	border:1px solid #000000;
}

#detail #bas{
	clear: both;
}

#detail span{
	margin-right:20px;
}