#label{
	float: left;
	margin-left: 50px;
	font-weight: bold;
}

#nom{
	padding-left: 27px;
}

#mail{
	padding-left: 21px;
}

form{
	float: left;
	margin-left: 5px;
}

.champs{
	margin: 0px;
	padding-top: 8px;
}